data/hpidb/HPIDB/*
data/hvidb/HVIDB/*
data/hpidb/embeddings/*
data/hvidb/embeddings/*
data/dscript/data/*
data/dscript/processed/*
save/hpidb/*
save/hvidb/*
save/dscript/*
*.npy
*.ckpt
@deprecated
__pycache__/